a:visited {      
color: #000000;    
}  
.ulpf6s li {
	width: 16.6%;
	margin-bottom: 10px;
	padding-right: 5px;
}
.ulpf6s li:last-child {
	/*padding-right: 0;*/
}

.ulpf6s li span{
	text-align: center;
	height: 50px;
	line-height: 50px;
	float: left;
	overflow: hidden;
	background-color: #2D63A1;
}
.ulpf6s li span b{
	font-weight:normal;
	display:block;
	width: 100%;
	height: 100%;
}
.ulpf6s li span:first-child {
	font-size: 14px;
	width: 40%;
}
.ulpf6s li span:last-child {
	width: 58%;
	line-height:54px;
	font-size: 30px;
	margin-left: 2px;
	font-weight: 700;
	border: 2px solid #4a95df;
}
.ulpf6s li:nth-child(2) span:last-child,
.ulpf6s li:nth-child(3) span:last-child,
.ulpf6s li:nth-child(5) span:last-child,
.ulpf6s li:nth-child(6) span:last-child {
	background-color: #6AC953 !important;
}
.ulpf6s li span:last-child b{
	border: 1px solid #fff;
}
.border_s{
	border: 2px solid #fff;
}
.col_ffaa00{
	color: #ffaa00;
	font-weight: 700;
	font-size: 16px;
	margin-bottom: 10px;
}
.w33left{
	width: 49.8%;
	float: left;
}
.wallleft{
	width: 100%;
	float: left;
}
div.w33left:nth-child(2),
div.w33left:nth-child(3){
	margin-left: 0.33333%;
}
#eMap,#eBar1,#eBar2,#eBar4{
	height: 338px;
	margin:5px;
	border: 1px solid #e6e6e6;
}
#eBar3{
	height: 240px;
	margin:5px;
}
h3{
	color: #fff;
	font-size: 14px;
	font-weight: 500;
	line-height: 40px;
	padding:0 5px;
}
h3 span{
	font-weight: 700;
}
#main2s{
	height: 240px;
	margin:5px;
}
.qb_tabe tr td {
	border-right: 1px solid #fff;
	position: relative;
}

@media screen and (max-width: 789px) {
	.ulpf6s li {
		width: 50%;
	}	
}

@media screen and (max-width: 426px) {
	.ulpf6s li {
		width: 100%;
		padding-left: 10px;
	}
}
.ulpf4t li {
	padding-right: 5px;
}

.ulpf4t li:nth-child(2),
.ulpf4t li:nth-child(3),
.ulpf4t li:nth-child(4){
	text-align: center;
}
#h_body{
	position:relative;
}
/*头部的说明*/
.util_time_p{
	display: inline-block;
}
.tip_left{
	margin-left: 40px;
}
.tip_left_over{
	margin-left: 65px;
}
.tip_wrapper{
	display: inline-block;
	position: relative;
}
.item_tip{
	width: 12px;
	height: 12px;
}
.inline_tip{
	display: inline-block;
}
.number_tip{
	position: absolute;
	top: -1px;
	left: 15px;
}
.safe{
	background: #58A14E;
}
.warn{
	background: #EDC948;
}
.anger{
	background: #E15658;
}