.ulpf4s li {
	width: 20%;
	margin-bottom: 10px;
}
.ulpf4s li div{
	text-align: center;
	overflow: hidden;
	background-color: #2D63A1;
}
.ulpf4s li div:first-child {	
	width: 40%;
	float: left;
	font-size: 14px;	
}
.ulpf4s li div:last-child {
	width: 58%;	
	height:100px;
	float: right;
	font-size: 34px;
	border: 2px solid #2D63A1;
	background: #4893db;
}
.ulpf4s li div p{
	height: 46px;
	line-height: 44px;
}
.ulpf4s li div:last-child p {
	border: 1px solid #fff;	
	/*font-weight: bolder;*/
	overflow:hidden;
	background:#2D63A1;
}
.ulpf4s li div:first-child p {
	height: 50px;
	line-height: 50px;
}
.ulpf4s li {
	padding-right: 5px;
}
.ulpf4s li:last-child {
	padding-right: 0;
}
.add_zp,.add_zp_sku,.remove_zp_sku,.remove_zp,.add_xp,.add_xp_sku,.remove_xp_sku,.remove_xp{
	cursor: pointer;
    display: inline-block;
    width: 12px;
    line-height: 12px;
    height: 12px;
    font-size: 12px;
    background-color: #fff;
    color: #000;
}
.qb_tabe tbody td {
	border:none;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
}
#h_top,#h_middle,#h_rightB,#h_rightL,#h_bottom,#h_xp,#h_zp{
	position:relative;
}

.ulpf4s li div:last-child p:last-child{margin-top:4px;}
table.a_keytable tbody tr td:nth-child(2),
table.a_keytable tbody tr td:nth-child(5){
	text-align:left;
}


